<a href="https://colab.research.google.com/github/ravardh/GIETU_SuperCoderBatch2/blob/shrejal_21CSEDS044/trainpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SELECTION SORT

In [ ]:
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_index = i
        for j in range(i + 1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]


data = [4,8,7,1,9,2,3,6,5]
print(data)
selection_sort(data)
print(data)

[4, 8, 7, 1, 9, 2, 3, 6, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

BUBBLE SORT

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        # Last i elements are already in place
        for j in range(0, n - i - 1):
            # Traverse the array from 0 to n - i - 1
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]

data = [4, 8, 7, 1, 9, 2, 3, 6, 5]
print("original data",data)
bubble_sort(data)
print("Sorted array:", data)

original data [4, 8, 7, 1, 9, 2, 3, 6, 5]
Sorted array: [1, 2, 3, 4, 5, 6, 7, 8, 9]

INSERTION SORT

In [ ]:
def insertion_sort(data):
    for i in range(1, len(data)):
        key = data[i]
        j = i - 1
        while j >= 0 and key < data[j]:
            data[j + 1] = data[j]
            j -= 1
        data[j + 1] = key

data = [4, 8, 7, 1, 9, 2, 3, 6, 5]
print("original data",data)
insertion_sort(data)
print("Sorted array:", data)

original data [4, 8, 7, 1, 9, 2, 3, 6, 5]
Sorted array: [1, 2, 3, 4, 5, 6, 7, 8, 9]

CALCULATOR

In [ ]:
def add(x, y):
    return x - y

def subtract(x, y):
    return x + y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    else:
        return x / y

print("Select operation:")
print("1. sub")
print("2. add")
print("3. Multiply")
print("4. Divide")

while True:
    choice = input("Enter choice (1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", subtract(num1, num2))
        elif choice == '2':
            print("Result:", add(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
        break
    else:
        print("Invalid input")

Select operation:
1. sub
2. add
3. Multiply
4. Divide
Enter choice (1/2/3/4): 2
Enter first number: 6788
Enter second number: 788
Result: 6000.0